* {
      box-sizing: border-box;
}

body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 30px;
}

.container {
      border-radius: 100%;
      height: 600px;
      width: 600px;
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      margin-right: 15px;
      transition: all .5s ease-in-out;
}

.half-container {
      height: 300px;
      width: 100%;
      display: flex;
      position: relative;
}

.top {
      border-top-left-radius: 600px;
      border-top-right-radius: 600px;
}

.bottom {
      border-bottom-left-radius: 600px;
      border-bottom-right-radius: 600px;
}

.circle {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s ease-in-out;
      visibility: hidden;
      cursor: pointer;
}

.n1 {
      position: absolute;
      bottom: 0;
      left: 4%;
      background-image: url('../imgs/pizza-1.png');
      background-size: cover;
}

.n2 {
      position: absolute;
      top: 0;
      left: 33.5%;
      background-image: url('../imgs/pizza-2.png');
      background-size: cover;
      background-position: center;
}

.n3 {
      position: absolute;
      bottom: 0;
      right: 4%;
      background-image: url('../imgs/pizza-3.png');
      background-size: cover;
      background-position: center;
}

.n6 {
      position: absolute;
      top: 0;
      left: 4%;
      background-image: url('../imgs/pizza-6.png');
      background-size: cover;
      background-position: center;
}

.n4 {
      position: absolute;
      top: 0;
      right: 4%;
      background-image: url('../imgs/pizza-4.png');
      background-size: cover;
      background-position: center;
}

.n5 {
      position: absolute;
      bottom: 0;
      left: 33.5%;
      background-image: url('../imgs/pizza-5.png');
      background-size: cover;
      background-position: center;
}

.active {
      visibility: visible;
}

/* ---------------------------------------- */

.small {
      animation-name: toSmall;
      animation-duration: 1s;
      transform: scale(.35);
}

.big {
      animation-name: toBig;
      animation-duration: 1s;
}

.middle {
      animation-name: toMiddle;
      animation-duration: 1s;
      transform: scale(.35);
}

@keyframes toMiddle {
     from {
            transform: scale(0);
      }
      to {
            transform: scale(.35);
      } 
}

@keyframes toBig {
      from {
            transform: scale(.35);
      }
      to {
            transform: scale(1);
      }
}

@keyframes toSmall {
      from {
            transform: scale(1);
      }
      to {
            transform: scale(0.35);
      }
}


